################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/NVelocity/.vs
/NVelocity/Backup
/NVelocity/NVelocity/obj
/NVelocity/NVelocity/bin
/NVelocity/NVelocity.Tests/obj
/NVelocity/NVelocity.Tests/bin
/NVelocity/NVelocitySL/obj
/NVelocity/NVelocitySL/Bin
/NVelocity/NVelocitySL.Tests/bin
/NVelocity/NVelocitySL.Tests/obj
